@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');


@font-face {
    font-family: 'Helvetica';
    src: url('/Helvetica.ttf') format('truetype'); /* Para TTF */
         /* url('caminho/para/a/fonte.otf') format('opentype'); */ /* Para OTF */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Troye Serif';
    src: url('/Troye Serif Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* CORES */

$texto-claro: #fff;
$texto-escuro: #091930;
$texto-destaque: #CEAA67;
$texto-redes: #2E4886;
$cor-fundo: #091930;

/* FONTES */

$texto-principal: 'Poppins', sans-serif;
$texto-corpo: 'Helvetica', sans-serif;
$fonte-destaque: 'Troye Serif', serif;
$texto-footer: "Montserrat", sans-serif;


/* TAMANHOS */
$ppp: 0.8rem;
$pp: 1rem;
$p: 1.2rem;
$m:1.4rem;
$mm: 1.6rem;
$g: 1.8rem;
$gg: 2rem;
$ggg: 2.2rem;
$gx: 2.5rem;

/* FOOTER */

$fonte-principal: 'Montserrat', sans-serif;
$footer: #100F0D;
$bold:700;
$fm: 1.3rem;
$fpp: 0.8rem;







