@import 'variaveis';
@import 'mixins';



    .gradiente {

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 21rem;
        width: 100%;
        
        

        img {
            width: 100%;
        }
    }

