@import 'variaveis';
@import 'mixins';



    .gradiente {

        display: flex;
        align-items: center;
        justify-content: center;
        
        

        img {
            
        }
    }

