@import 'variaveis';
@import 'mixins';

.fundo {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/fundo_card2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: solid 1px $texto-claro;
    border-radius: 15px;
    width: 60%;
    height: 14rem;
    margin-bottom: 2rem;

    .container {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 90%;
        height: 90%;
        

        .faixa {
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @include titulo($mm, 0rem);
            background-image: url('/fundo_faixa.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 10px;
            width: 100%;
            height: 2.8rem;
            margin-bottom: 0.5rem;

            p {
                width: 88%;
            }


        }

        .conteudo {

            display: flex;
            flex-direction: column;
            /* align-items: center; */
            justify-content: start;

            .titulo {
    
                @include subtitulo($pp, 1rem);
                margin-bottom: 0.2rem;
        
            }
        
            .texto {
    
                @include texto-padrao($ppp, 0.9rem);
        
            }

        }
    

    }
    
    
}