@import 'variaveis';
@import 'mixins';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/fundo_card.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include texto-padrao ($gx)

}