@import 'variaveis';
@import 'mixins';

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/fundo_faixa.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $texto-escuro;
    border-radius: 15px;
    width: 90%;
    height: 4rem;
    margin: 1rem 0 1rem 0;
    

    .caixa {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 85%;
        

        .texto {

            font-family: $texto-principal;
            text-align: center;
            font-size: $ppp + 0.1rem;

            span {
                font-weight: bold;
            }

        }

    }

}

@media (min-width: 768px) {

    .container {

        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('/fundo_faixa.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: $texto-escuro;
        border-radius: 15px;
        width: 40%;
        height: 4rem;
        margin: 1rem 0 1rem 0;
        
    
        .caixa {
    
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 85%;
            
    
            .texto {
    
                font-family: $texto-principal;
                text-align: center;
                font-size: $ppp + 0.1rem;
    
                span {
                    font-weight: bold;
                }
    
            }
    
        }
    
    }

}