@import 'variaveis';
@import 'mixins';

.fundo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 11rem;
    border: solid 1px $texto-claro;
    border-radius: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 90%;


        img {
            width: 1.4rem;
            margin-bottom: 1rem;
        }

        .titulo {
            @include titulo($ppp, 0rem);
            margin-bottom: 0.5rem;
        }

        .texto {
            @include texto-padrao($ppp, 1rem);
            text-align: center;
        }
    }
}

@media (min-width: 768px) {
    
    .fundo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: 11rem;
        border: solid 1px $texto-claro;
        border-radius: 15px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 85%;
            height: 80%;
    
    
            img {
                width: 1.4rem;
                margin-bottom: 1rem;
            }
    
            .titulo {
                @include titulo($ppp - 0.1rem, 0rem);
                margin-bottom: 0.5rem;
            }
    
            .texto {
                @include texto-padrao($ppp - 0.1rem, 0.7rem);
                text-align: center;
            }
        }
    }

}

@media (min-width: 1024px) {
    
    .fundo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: 14rem;
        border: solid 1px $texto-claro;
        border-radius: 15px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 85%;
            height: 80%;
    
    
            img {
                width: 1.8rem;
                margin-bottom: 1rem;
            }
    
            .titulo {
                @include titulo($p, 0rem);
                margin-bottom: 0.8rem;
            }
    
            .texto {
                @include texto-padrao($p, 1.3rem);
                text-align: center;
            }
        }
    }

}
