@import 'variaveis';
@import 'mixins';

.faqContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: solid 1px $texto-claro;
    margin-bottom: 3rem;
}

@media (min-width: 768px) {

    .faqContainer {
        display: flex;
        flex-direction: column;
        width: 30%;
        border: solid 1px $texto-claro;
        margin-bottom: 3rem;
    }

}