@import 'variaveis';
@import 'mixins';

.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;

    .titulo-escuro {
        @include titulo-escuro ($p, 0rem);
        align-self: center;
        width: '80%';
        text-align: center;
    }

    .titulo-claro {
        @include titulo-claro ($p, 1.2rem);
        margin: 3rem 0 3rem 0;
        align-self: center;
        width: '80%';
        text-align: center;
    }

    .titulo-azul {
        @include titulo-azul ($p, 20px);
        margin: 3rem 0 3rem 0;
        align-self: center;
        width: '80%';
        text-align: center;
    }

}

@media (max-width: 330px) {

    .container {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
    
        .titulo-escuro {
            @include titulo-escuro ($pp, 0rem);
            align-self: center;
            width: '80%';
            text-align: center;
        }
    
        .titulo-claro {
            @include titulo-claro ($pp, 1.2rem);
            margin: 3rem 0 3rem 0;
            align-self: center;
            width: '80%';
            text-align: center;
        }
    
        .titulo-azul {
            @include titulo-azul ($pp, 20px);
            margin: 3rem 0 3rem 0;
            align-self: center;
            width: '80%';
            text-align: center;
        }
    
    }

}

@media (min-width: 768px) {

    .container {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;

        .titulo-escuro {
            @include titulo-escuro ($p, 0rem);
            align-self: center;
            text-align: center;
        }
        
        .titulo-claro {
            @include titulo-claro ($p, 1rem);
            margin: 3rem 0 3rem 0;
            align-self: center;
            text-align: center;
        }
        
        .titulo-azul {
            @include titulo-azul ($p, 20px);
            margin: 3rem 0 3rem 0;
            align-self: center;
            text-align: center;

        } 

    }

}

@media (min-width: 1024px) {

    .container {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;

        .titulo-escuro {
            @include titulo-escuro ($mm, 0rem);
            align-self: center;
            text-align: center;
            margin-top: 1rem;
        }
        
        .titulo-claro {
            @include titulo-claro ($mm, 1.7rem);
            margin: 4rem 0 4rem 0;
            align-self: center;
            text-align: center;

        }
        
        .titulo-azul {
            @include titulo-azul ($mm, 25px);
            margin: 4rem 0 4rem 0;
            align-self: center;
            text-align: center;
            width: 70%;

        } 

    }

}