@import 'variaveis';

.fundo1 {
    background-image: url('/fundo1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fundo2 {
    background-image: url('/fundo2.svg');
    background-position: center;
    background-size: cover;
}

.fundo3 {
    background-image: url('/fundo3.svg');
    background-position: center;
    background-size: cover;
}

.fundo4 {
    background-color: #1F3953;
}

.fundo5 {
    background-color: #000;
}

.fundo6 {
    background-color: #0A1831;
}

.fundo7 {
    background-image: url("/fundo_card2.svg");
    background-position: center;
    background-size: cover;
}





